#threads-container,
#messages-container {
  height: calc(100vh - 100px);
}

.main-container {
  max-width: 920px;
}

[data-loading] {
  display: none;
}

#neural-network-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}